<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pecah.kan.uangnya">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>


    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Pecahkan Uangnya"
        android:name="com.pecah.kan.uangnya.manager.MyApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.pecah.kan.uangnya.activity.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.pecah.kan.uangnya.activity.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.pecah.kan.uangnya.activity.MainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.pecah.kan.uangnya.activity.MyActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.pecah.kan.uangnya.activity.ProductActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.pecah.kan.uangnya.activity.WebViewActivity"
            android:screenOrientation="portrait"/>

        <receiver android:name="com.appsflyer.SingleInstallBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.pecah.kan.uangnya.service.UploadContactService"/>

    </application>

</manifest>